.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  padding: $input-spacing;
  text-transform: uppercase;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $space;
}

.button--secondary {
  background: $button-secondary-bg;
  color: $button-secondary-color;
  border: 1px solid $button-secondary-border-color;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  padding: .3rem .8rem;
}
